li{
    list-style: none;
}

a{
    text-decoration: none;;
}

a:hover{
    text-decoration: underline;
}

.topHeader{
    background-color:#F7F5F4;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
}

.topNavbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.topNavbar a{
    color: #85807c;
    font-size: 12px;
}

.topLeftNavList{
    display: flex;
    gap: 40px; 
    padding-left: 20px;
}

.topRightNavList{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
}

.secHeader{
    display: flex;
    width: 100%;
}

.secNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

.secNavbar a{
    color: #44413D;
    font-size: 16px;
}

.logo{
    max-width: 150px;
}

.faIcon{
    padding: 0 5px;
}

.browseBorder{
    border-right: 1px solid #44413D;
    padding-right: 20px;
}

.navSearch{
    border: none;
    font-size: 16px;
}

.secLeftNavList{
    display: flex;
    gap: 20px; 
}

.secRightNavList{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

