
li{
    list-style: none;
}

a{
    text-decoration: none;;
}

a:hover{
    text-decoration: underline;
}

.topHeader{
    background-color:#F7F5F4;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
}

.topNavbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:#F7F5F4;
}

.topNavbar a{
    color: #85807c;
    font-size: 12px;
}

.topLeftNavList{
    display: flex;
    gap: 40px; 
    padding-left: 20px;
}

.topRightNavList{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
}

.secHeader{
    display: flex;
    width: 100%;
}

.secNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

.leftGroup {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
  }

.secNavbar a{
    color: #44413D;
    font-size: 16px;
}

.logo {
    max-width: 150px;
    height: auto;
    display: inline-block;
    vertical-align: middle; 
  }

.faIcon{
    padding: 0 5px;
}

.browseBorder{
    border-right: 1px solid #44413D;
    padding-right: 20px;
}

.navSearch, .navSearch input {
    border: none;
    font-size: 16px;
}

.secLeftNavList{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px; 
    padding-left: 12px;
    width: 100%;
}

.secRightNavList{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}

.deskHide{
    display: none;
}

/* Media Queries */


@media (max-width: 1135px) {

    .topNavbar a {
        font-size: 10px;
    }

    .topLeftNavList, .topRightNavList {
        gap: 10px; 
    }

    .logo{
        max-width: 20%;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .navItem{
        font-size: 12px;
        width: 100%;
    }

    .secNavbar a{
        font-size: 14px;
    }

    .secLeftNavList, .secRightNavList{
        gap: 8px; 
        margin: 8px;
        padding-left: 8px;
        align-items: center;
    }

    .navSearch{
        width: 50%;
    }

    .navItemBrowse{
        width: 50%;
    }

}

@media (max-width: 850px) {
    
    .logo {
        content: url('/images/mob-logo.png'); 
        height: auto;
    }

    .leftGroup{
        gap: 8px;
    }

    .secNavbar a {
        font-size: 12px;
    }

    .secNavbar{
        padding: 0 12px;
    }

    .secLeftNavList{
        width: 70%;
    }

    .navSearch{
        font-size: 12px;
    }

    .navExtendedSearch{
        width: 100%;
    }

    .watchlist{
        width: 80%;
    }

    .navMyTrademe{
        width: 110%;
    }
    
}

@media (max-width: 640px) {

    .topHeader{
        display: none;
    }

    .mobHide{
        display: none;
    }

    .deskHide{
        display: block;
    }

}

@media (max-width: 320px) {

    .topHeader{
        display: none;
    }

    .secNavbar{
        font-size: 12px;
        font-weight: regular;
        text-align: center;
    }

    .navItem{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mobHide{
        display: none;
    }

    .deskHide{
        display: block;
    }

    .faBtn{
        cursor: pointer;
    }

    .navSearchBtn{
        cursor: pointer;
    }

    .searchHidden{
        display:none;
    }

    .navExtendedSearch input {
        width: 100%;
    }

    .searchActive{
        width: 90%;
        display: flex;
    }

    .searchHide{
        display: none;
    }

    .navExtendedSearch{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

}