* {
    box-sizing: border-box;
  }

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

h1{
    color: #44413D;
    font-size: 20px;
    font-weight: extrabold;
}

h2{
    color: #44413D;
    font-size: 16px;
    font-weight: bold;
}

h3{
    color: #44413D;
    font-size: 12px;
    font-weight: bold;
}

.listingContainer{
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: center;
    margin-top: 20px;
}

.listingLHside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 28px;
    width: calc(60% - 48px);
    position: relative; /* Make sure the watchlist button is positioned relative to this */
}

.imgs{
    width: 100%;
    position: relative;
}

.listingImage{
    max-width: 100%;
    height: auto;
    position: relative; 
}

.watchlist{
    width: 68px;
    cursor: pointer;
    position: absolute; 
    top: 0; 
    right: 0; 
}

.description{
    color: #8A8685;
}

.sellerDetails{
    margin-top: 12px;
}

.sellerDetailsCentre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sellerAvatarBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sellerAvatar {
    max-width: 75px;                 
    aspect-ratio: 1 / 1;           /* Keeps it square */
    border-radius: 50%;           /* Makes it a circle */
    background-color: #ccc;       /* Grey background if no image */
    overflow: hidden;
}

.sellerDetailDivider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #8A8685;
    color: #8A8685
}

.angleDown{
    transform: rotate(270deg);
    color: #0076BC;
}

.angleDown :hover{
    cursor: pointer;
}

.sellerLink{
    color: #0076BC;
    font-size: 12px;
    text-align: center;
    margin: 1em 0;
}

.sellerBtn{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 20px;
    background-color: #0076BC;
    color: #fff
}

.favouritesIcon{
    margin: 0 8px;
}

.sellerDetailsCentre > a {
    font-size: 12px;
    color: #0076BC;
    margin-bottom: 40px;
}

.shareListing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.share{
    color: #0076BC;
    font-size: 12px;
}

.shareDot{
    margin: 0 4px;
    color: #8A8685;
}

.shareInfo{
    color: #8A8685;
    font-size: 12px;
}

.communityWatchInfo{
    font-size: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.commWatchIcon{
    color: #FFC828;
}

.communityWatch{
    color: #8A8685;
    margin: 4px;
}

.commWatchReport{
    color: #0076BC;
}

/* RIGHT HAND SIDE */

.listingRHsideDesktop{
    width: 40%;
    padding-right: 20px;
}

.listingRHsideMobile{
    display: none; /* Hide on desktop */
}

@media (max-width: 320px) {
    /* Mobile styles */
    .listingContainer {
        display: flex;
        flex-direction: column; /* Stack elements vertically on mobile */
        align-items: center; /* Center items horizontally */
    }

    .listingLHside {
        width: 100%; /* Full width on mobile */
        margin: 0 0 20px 0; /* Add space between LH and RH side */
    }

    .listingRHsideMobile{
        display: flex; /* Show on mobile */
        flex-direction: column;
        justify-content: center;
        width: 100%; /* Full width on mobile */
        padding: 0 20px; /* Add padding on mobile */
    }

    .listingRHsideDesktop {
        display: none; /* Hide on mobile */
    }

    .listingPayment {
        width: 100%;
        display: flex;
    }

    .listingQuestions {
        width: 100%;
        display: flex;
    }

    .sellerDetails {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .shareListing {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .communityWatchInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}