a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.listingBidOverlay h1 {
    color: #44413D;
    font-size: 20px;
    font-weight: extrabold;
    margin-top: 0;
}

.listingBidOverlay h2{
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}

.listingBidOverlay h3{
    color: #44413D;
    font-size: 12px;
    font-weight: bold;
    margin-top: 4px;
}

.listingBidOverlay p{
    color: #8A8685;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

button{
    padding: 12px 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.inActive{
    display: none;
}

.listingBidOverlay{
    background-color: rgba(107, 106, 106, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.listingBidForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

.bidHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.closeBid{
    transform: rotate(45deg);
    cursor: pointer;
    color: #0076BC;
}

.auctionDetails{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #F6F5F4;
    margin: 8px 0;
}

.listingImage{
    width: 30%;
    margin: 4px;
}
.auctionInfo {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.auctionInfoTop > h2, .auctionInfoTop > p{
    margin: 0;
}

.auctionCurrentPrice {
    color: #44413D;
}

.auctionInfoTop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 12px;
}

.auctionInfoBtm {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 12px;
}


.bidDetails{
    margin: 4px 0;
    width: 100%;
}

.bidDetails > h2{
    color: #8A8685;
}

.bidBox{
    height: 40px;
    width: 50%;
    margin: 8px 0 0 0;
}

.bidBtns{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 12px 0;
    gap: 12px;
}

.blueBtn{
    background-color: #0076BC;
    color: #fff;
}

.invalidBtn{
    background-color: #F7F5F4;
    color: #8A8685;
    border: 1px solid #8A8685;
    cursor: not-allowed;
}

.inverseBtn{
    border: 1px #0076BC solid;
    background-color: #fff;
    color: #0076BC;
}

.bidConfirm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bidConfirm > h2{
    margin-top: 12px;
    font-weight: normal;
}

.secondaryBidBtns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
    margin: 8px 0;
}

.shippingDetails{
    margin-top: 12px;
    width: 100%;
}

.shippingDetails > h2{
    color: #8A8685;
}

.shippingForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    color: #8A8685;
    margin-top: 4px;

}

.shippingOptions{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 4px 0;
}

.shippingPrice{
    text-align: end;
}

.bidConfirm > h2{
    margin-bottom: 8px;
}

/* Media Queries */

@media (max-width: 520px) {

    .listingBidForm{
        width: 100%;
        max-height: 90%;
        overflow-y: auto;
        border-radius: 0;
    }

    .bidBox{
        width: 100%;
    }

    .bidBtns{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .cancelBtn, .blueBtn{
        width: 100%;
    }

    .bidConfirm > h2{
        text-align: center;
    }

    .secondaryBidBtns{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

}