a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h1{
    color: #44413D;
    font-size: 20px;
    font-weight: extrabold;
}

h2{
    color: #44413D;
    font-size: 16px;
    font-weight: bold;
}

h3{
    color: #44413D;
    font-size: 12px;
    font-weight: bold;
}

/* RIGHT HAND SIDE */

.listingRHside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start; /* Align right side to the top */
}

.listingInfo{
    width: 100%;
}

.watchlistCount{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #8A8685;
}

.priceContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.priceContainer > h2{
    margin-top: 0;
}

.listDate{
    color: #8A8685;
}

.watchlistBtn{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #FCC31F;
    color: #933C00;
}

.watchlistIcon{
    margin-right: 4px;
    transform: rotate(180deg);
}

.priceContainer > button{
    width: 90%;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 4px;
}

.blueBtn{
    background-color: #0076BC;
    color: #fff
}

.greyBtn{
    background-color: #F7F5F4;
    color: #0076BC;
}

.reserveTxt{
    color: #8A8685;
    font-size: 12px;
    text-align: center;
}


/* Media Queries */

@media (max-width: 320px) {

    .listingRHside {
        flex-direction: column; /* Stack elements vertically on mobile */
    }

    .listingInfo {
        order: 2; /* Make sure the listing info comes below priceContainer */
    }

    .priceContainer {
        order: 1; /* Price container comes first */
    }

}